<style> 
  .card-body, .card-img-top {
    width: 18rem;
    height: 250px;
    margin: auto;
    padding: auto;
  }
  .card-title, .card-footer {
    color: blue;
    font-family: 'Times New Roman', Times;
    font-style: normal;
  }
  .card-text {
    text-transform: lowercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: 50;
  }
  .navbar, .collapse, .nav-title, .navbar-toggler {
    background-color: grey;
  }
  
  /*.nav-title {
    color: black;
  }*/
a, .btn btn-primary {
color: black;
font-weight: 500;
font-family: Georgia, 'Times New Roman', Times, serif;

}
</style>

<div class="container">
    <div class="text-center">
        <h1>WELCOME TO IMMACULATE CONCEPTION CHOIR PAGE</h1>
    </div>
    <div class="align-center">
        <!--test-->
<br>

<div class="card-columns">
  <div class="container" style="width: 18rem;">
    <img class="card-img-top" src="assets/images/child.jpg" alt="#">
    <div class="card-body">
      <h5 class="card-title">MUSIC</h5>
      <p class="card-text">This includes the differnt voices plus people playing musical instruments.</p>
    <b><a href="#" class="btn btn-primary">VIEW AVAILABLE INSTRUMENTS</a></b>
    </div>
  <b><div class="card-footer bg-transparent border-success">MUSIC FOR THE SOUL</div></b>
  </div>
  
  <br>
  
  
  <div class="container-fluid" style="width: 18rem;">
    <img class="card-img-top" src="assets/images/choir.jpg" alt="#">
    <div class="card-body">
      <h5 class="card-title">CHOIR</h5>
      <p class="card-text">This includes the differnt voices plus people playing musical instruments.</p>
      <b><a href="#" class="btn btn-primary"> VIEW CHOIR PRACTICES</a></b>
    </div>
    <b><div class="card-footer bg-transparent border-success">WE ARE FAMILY</div></b>
  </div>
  
  <br>
  
  <div class="container-fluid" style="width: 18rem;">
    <img class="card-img-top" src="assets/images/mass.jpg" alt="#">
    <div class="card-body">
      <h5 class="card-title">MASS</h5>
      <p class="card-text">This includes the differnt voices plus people playing musical instruments.</p>
    <b><a href="#" class="btn btn-primary">VIEW READINGS</a></b>
    </div>
  <b><div class="card-footer bg-transparent border-success">EVANGELIZE YOUR HEART</div></b>
   
  </div>
  
  </div>
  <br>
    </div>
</div>
