<style> 
  .card-body, .card-img-top {
    width: 18rem;
    height: 250px;
    margin: auto;
    padding: auto;
  }
  .card-title, .card-footer {
    color: blue;
    font-family: 'Times New Roman', Times;
    font-style: normal;
  }
  .card-text {
    text-transform: lowercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: 50;
  }
  .navbar, .collapse, .nav-title, .navbar-toggler {
    background-color: grey;
  }
  
  /*.nav-title {
    color: black;
  }*/
a, .btn btn-primary {
color: black;
font-weight: 500;
font-family: Georgia, 'Times New Roman', Times, serif;

}
h1{
  font-size: 24px;
  text-emphasis-color:blue;
  color: gray;
  font-family: 'Times New Roman', Times, serif;
}
.page-footer{
  /*background-color: rgb(20, 207, 240);*/
  padding: 1rem;
  margin: inherit;
  background: linear-gradient(70deg, #0ebeff, #ffdd40, #ae63e4, #47cf73);
}
p{
  font: outline;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
.pb-3{
  font-size: 20px;
  font-family: 'Tmes New Roman';
  color: rgb(255, 255, 255);
}



</style>

<div class="container">
    <div class="text-center">
        <h1>WELCOME TO IMMACULATE CONCEPTION CHOIR PAGE</h1>
    </div>
    <div class="align-center">




      <div class="row mx-1">

        <!--Grid column-->
        <div class="col-md-12 mb-4">
            <div class="card card-image" style="background-image: url(assets/images/youth.jpg);">
                <div class="text-white snow text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>
                        <h6 class="purple-text"><i class="fa fa-plane"></i><strong> Travel With Us</strong></h6>
                        <h3 class="card-title py-3 font-weight-bold"><strong>ADORABLE MOMMENTS, PRAISING THE LORD</strong></h3>
                        <p class="pb-3"><strong>Praising and loving God is all what we do, in Good times and in Bad times.
                          How precious is your name Father Lord, we adore u lord.</strong>
                        </p>
                        <a class="btn btn-secondary btn-rounded"><i class="fa fa-clone left"></i> View project</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Grid column-->
     </div>


        






        <!--test-->
<br>

<div class="card-columns">
  <div class="container" style="width: 18rem;">
    <img class="card-img-top" src="assets/images/child.jpg" alt="#">
    <div class="card-body">
      <h5 class="card-title">MUSIC</h5>
      <p class="card-text">This includes the differnt voices plus people playing musical instruments.</p>
    <b><a href="#" class="btn btn-primary">VIEW AVAILABLE INSTRUMENTS</a></b>
    </div>
  <b><div class="card-footer bg-transparent border-success">MUSIC FOR THE SOUL</div></b>
  </div>
  
  <br>
  
  
  <div class="container-fluid" style="width: 18rem;">
    <img class="card-img-top" src="assets/images/choir.jpg" alt="#">
    <div class="card-body">
      <h5 class="card-title">CHOIR</h5>
      <p class="card-text">This includes the differnt voices plus people playing musical instruments.</p>
      <b><a href="#" class="btn btn-primary"> VIEW CHOIR PRACTICES</a></b>
    </div>
    <b><div class="card-footer bg-transparent border-success">WE ARE FAMILY</div></b>
  </div>
  
  <br>
  
  <div class="container-fluid" style="width: 18rem;">
    <img class="card-img-top" src="assets/images/mass.jpg" alt="#">
    <div class="card-body">
      <h5 class="card-title">MASS</h5>
      <p class="card-text">This includes the differnt voices plus people playing musical instruments.</p>
    <b><a href="#" class="btn btn-primary">VIEW READINGS</a></b>
    </div>
  <b><div class="card-footer bg-transparent border-success">EVANGELIZE YOUR HEART</div></b>
   
  </div>
  
  </div>
  <br>
    </div>


<!-- Footer -->
<footer class="page-footer">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4">Choir Content</h5>
        <p>Please feel free to join our choir.</p>
        <p>Here are some of the contents found in the mighty immaculate conception choir,
          we are glad to hear your views plud the comments for the better improvement.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">About</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <a href="#!">PROJECTS</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">ABOUT US</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">SERVICES</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">CONTACTS</a>
            </p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fa fa-home" aria-hidden="true" style="font-size:30px;"></i> Kampala, UG
              
            </p>
          </li>
          <li>
            <p>
              <i class="fa fa-envelope-open" aria-hidden="true" style="font-size:30px;"></i> info@example.com
            </p>
          </li>
          <li>
            <p>
              <i class="fa fa-phone" aria-hidden="true" style="font-size:30px;"></i> + 256 7778645732
            </p>
          </li>
          <li>
            <p>
              <i class="fa fa-print" aria-hidden="true" style="font-size:30px;"></i> + 01 234 567 88
            </p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>

        <!-- Facebook -->
        
          <a href="#"><i class="fa fa-facebook-square" aria-hidden="true" style="font-size:30px;"></i></a>
        
        <br>
        <!-- Twitter -->
      
        <a href="#"><i class="fa fa-twitter-square" aria-hidden="true" style="font-size:30px;"></i></a>
        
        <br>
        <!-- Google +-->

        <a href="#"><i class="fa fa-google-plus-square" aria-hidden="true" style="font-size:30px;"></i></a>
        
        <br>
        <!-- Dribbble -->
       
        <a href="#"><i class="fa fa-dribbble" aria-hidden="true" style="font-size:30px;"></i></a>
        
        <br>
        
        <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true" style="font-size:30px;"></i></a>
        
      </div>
     

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 px-3">© 2020 Copyright:
    <a href="#"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->





</div>












