<style>
  .card{
      background: url('assets/images/youth.jpg') repeat scroll 0% 0% transparent;
      /* background: #ff0000;
      opacity: 0.4; */
  }

  .carousel-caption {
      background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(174, 180, 0, 0.7), rgba(255, 255, 255, 0));
  }
  .column {
      background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 50, 111, 0.8), rgba(255, 255, 255, 0));
  }
  .item active {
      background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(188, 0, 15, 0.7), rgba(255, 255, 255, 0));
  }
.col-md-12{
  display: block;
  flex: 1 1 auto;
}

h6, .btn {
background-attachment: fixed;
color: rgb(100, 2, 129);
}
.ms-footbar, .col-md-3 {
  display: block;
 align-self: start;;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #2b0101;
   color: white;
   text-align: center;
   padding: au
 
}
h1, h3 {
  color: navy;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.card {
  animation-duration: 8s;
  animation-name: card;
  animation-iteration-count: 6;
  animation-direction: alternate;
}

@keyframes card {
  from {
    margin-left:100%;
    width:300%
  }
  
  to {
    margin-left:0%;
    width:100%;
  }
}


.card-body, .card-img-top {
    width: 18rem;
    height: 250px;
    margin: auto;
    padding: 1rem;
    background-color: #e2f6f7;
  }




</style>



<div class="container">
  <div class="text-center">
      <h1>WELCOME TO IMMACULATE CONCEPTION CHOIR PAGE</h1>
  </div>
  <div class="align-center">




    <div class="row">

      <!--Grid column-->
      <div class="col-md-12 mb-4">
          <div class="card card-image" style="background-image: url(assets/images/youthchoir.jpg);">
              <div class="text-white snow text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                  <div>
                      <h6 class="purple-text text-center"><i class="fa fa-plane"></i><strong>Travel With Us</strong></h6>
                      <h3 class="card-title py-3 font-weight-bold text-warning"><strong>ADORABLE MOMMENTS, PRAISING THE LORD</strong></h3>
                      
                      <a class="btn btn-secondary btn-rounded"><i class="fa fa-clone left"></i> View project</a>
                  </div>
              </div>
          </div>
        </div>
      <!--Grid column-->
  




        <!-- Wrapper for slides -->
        <div class="container-fluid">
          <div class="item active">
            <div class="container">
              <div class="column">
                <div class="row-lg-6 row-md7">
                  
                    <h1 class="color-default no-mt mb-4 animated zoomInDown animation-delay-7"><span class="color-default typed-text"></span></h1>
                    <!-- <div class="col-md-12"> -->
                      <br>
                      <div class="row-md-6">
                        <button class="btn btn-block btn-primary btn-raised btn-app wow zoomInUp animation-delay-2">
                          <div class="btn-container">
                            <i class="fa fa-music" aria-hidden="true"></i>
                            <strong>Music</strong><br>
                            <span>For all the choir</span>
                          </div>
                        </button>
                      </div>
                      <br>
                      <div class="row-md-6">
                        <button class="btn-block btn btn-primary  btn-raised btn-app wow zoomInUp animation-delay-2">
                          <div class="btn-container">
                            <i class="fa fa-user-friends"></i>
                            <strong>Choir</strong><br>
                            <span>For all the choir</span>
                          </div>
                        </button>
                      </div>
                    <!-- </div> -->
                    <br>
                    <div class="row-md-6">
                      <button class="btn-block btn btn-primary btn-raised btn-app wow zoomInUp animation-delay-2">
                        <div class="btn-container">
                          <i class="fa fa-broadcast-tower"></i>
                          <strong>Voices</strong><br>
                          <span>For all the choir</span>
                        </div>
                      </button>
                    </div>
                    <br>
                    <div class="row-md-6">
                      <button class="btn-block btn btn-primary btn-raised btn-app wow zoomInUp animation-delay-2">
                        <div class="btn-container">
                          <i class="fa fa-church"></i>
                          <strong> church Practices</strong><br>
                          <span>Fully Responsive</span>
                        </div>
                      </button>
                    </div>
                  
                    
</div>
</div>

<br>
<br>



<div class="card-columns">
  <div class="container" style="width: 18rem;">
    <img class="card-img-top" src="assets/images/child.jpg" alt="#">
    <div class="card-body">
      <h5 class="card-title">MUSIC</h5>
      <p class="card-text">This includes the differnt voices plus people playing musical instruments.</p>
    <b><a href="#" class="btn btn-primary">AVAILABLE INSTRUMENTS</a></b>
    </div>
  <b><div class="card-footer bg-transparent border-success">MUSIC FOR THE SOUL</div></b>
  </div>
  <br>
  <br>
  
  <div class="container-fluid" style="width: 18rem;">
    <img class="card-img-top" src="assets/images/choir.jpg" alt="#">
    <div class="card-body">
      <h5 class="card-title">CHOIR</h5>
      <p class="card-text">This includes the differnt voices plus people playing musical instruments.</p>
      <b><a href="#" class="btn btn-primary"> VIEW CHOIR PRACTICES</a></b>
    </div>
    
    <b><div class="card-footer bg-transparent border-success">WE ARE FAMILY</div></b>
  </div>
  
  <br>
  
  <div class="container-fluid" style="width: 18rem;">
    <img class="card-img-top" src="assets/images/mass.jpg" alt="#">
    <div class="card-body">
      <h5 class="card-title">MASS</h5>
      <p class="card-text">This includes the differnt voices plus people playing musical instruments.</p>
    <b><a href="#" class="btn btn-primary">VIEW READINGS</a></b>
    </div>
  <b><div class="card-footer bg-transparent border-success">EVANGELIZE YOUR HEART</div></b>
   
  </div>
  
  </div>

<br>
<br>




<section id="showcase">    
  <div class="container">
    <div class="row">
       
      <div class="col-md-6 col-sm-6 ">
        <h1 class="color-primary">Choir Member</h1>
        <hr class="color" style="background-color: red;">
        <p class="lead " style="text-align: justify;">
        we offer different services
        </p>
        <p class="lead" style="text-align: justify;">our solution is to be available fo each and every function.</p>
      </div> 
      <div class="col-md-6 col-sm-6">
        <div class="showcase-left">
        <img src="assets/images/child.jpg" alt="" class="img-responsive center-block text-center animated zoomInDown animation-delay-5"/>
      </div> 
      <a href="#" class="btn btn-default btn-lg showcase-btn">Read more</a>
    </div> 
    </div>
  </div>
</section>
<!-- 0726006995 -->

  <br>

  <section id="showcase" style="background-color: #f7eeee;">
    <div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="showcase-right">
          <img src="assets/images/choir.jpg" alt="" class="img-responsive center-block text-center animated zoomInDown animation-delay-5"/>
        </div> 
        <a href="#" class="btn btn-default btn-lg showcase-btn">Read more</a> 
      </div>
        <div class="col-md-6 col-sm-6">
          <h1 class="color-light">Web Apps</h1>
          <hr class="color" style="background-color: red;">
          <p class="lead color-light" style="text-align: justify;">
            Immaculate conception choir is able to sing on any available function.
          </p>
          <p class="lead color-light" style="text-align: justify;">
          The goal is no more stress about the choir, but to provide solution especially on charges. We help you in Planning, Designing, 
          Developing.
          </p>
        </div>  
      </div>
    </div>
  </section>

<br>

  <section id="showcase" style="background-color: hsl(323, 81%, 89%); font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
    <div class="container">
      <div class="row">
         
        <div class="col-md-6 col-sm-6">

          <div class="col-md-6 col-sm-6">
            <img src="assets/images/mass.jpg" alt="#" class="img-responsive mt-6 center-block text-center animated zoomInDown animation-delay-5"/>
          </div> 

          <h1 class="color-primary">Other Services</h1>
          <hr class="color" style="background-color: red;">
          <ul class="list-unstyled hand-list">
                <li class="animated fadeInLeft animation-delay-2">
                    <p class="lead"><i class="color-info fa fa-label"></i> Church &amp; Consultancy</p>
                </li>
                <li class="animated fadeInLeft animation-delay-4">
                  <p class="lead"><i class="color-info fa fa-label"></i> Available &amp;  Services</p>
                </li>
                <li class="animated fadeInLeft animation-delay-6">
                  <p class="lead"><i class="color-info fa fa-label"></i> Design &amp; Development</p>
                </li>
                <li class="animated fadeInLeft animation-delay-8">
                  <p class="lead"><i class="color-info fa fa-label"></i> Enterprise Resource Planning Solutions</p>
                </li>
                <li class="animated fadeInLeft animation-delay-10">
                  <p class="lead"><i class="color-info fa fa-label"></i> Social Media Marketing</p>
                </li>
                <li class="animated fadeInLeft animation-delay-10">
                  <p class="lead"><i class="color-info fa fa-label"></i> Content Generation</p>
                </li>
              </ul>
        </div> 
       <!--jpg--> 
  
      </div>
    </div>
  </section>

<br>
<br>
<br>

<div class="container">
  
  <aside class="ms-footbar">
    <div class="container">
      <div class="row">
        <div class="col-md-4 ms-footer-col">
          <div class="ms-footbar-block">
            <h3 class="ms-footbar-title" style="background-color: pink;">Sitemap</h3>
            <ul class="list-unstyled ms-icon-list three_cols">
              <li class="active">
                  <a href=""><i class="fa fa-home" style="background-color: white;"></i> Home</a>
              </li>
              <li class="">
                  <a href=""><i class="fa fa-info-circle" style="background-color: white;"></i> About</a>
              </li>
              <li class="">
                    <a href=""><i class="fa fa-briefcase" style="background-color: white;"></i> Services</a>
              </li>
              <li class="">
                    <a href=""><i class="fa fa-code" style="background-color: white;"></i> Projects</a>
              </li>
              <li class="">
                    <a href=""><i class="fa fa-blogger"></i> Blog</a>
              </li>
              <li class="">
                    <a href=""><i class="fa fa-envelope-open" style="background-color: white;"></i> Contact</a>
              </li>
            </ul>
          </div>

          <div class="ms-footbar-block">
            <h3 class="ms-footbar-title">Subscribe</h3>
            <p class="">Subscribe to our newsletters</p>
            <form id="subscribeForm" method="post">
              <div class="form-group label-floating mt-2 mb-1">
                <div class="input-group ms-input-subscribe">
                  <label class="control-label" for="ms-subscribe">
                    <i class="zmdi zmdi-email"></i> Email Adress</label>
                  <input type="email" id="ms-subscribe" name="subscription_email" class="form-control" required> </div>
              </div>
              <button class="ms-subscribre-btn" type="submit">Subscribe <i class="color-danger-light fa fa-envelope-open"></i></button>
            </form>
          </div>
        </div>
<br>

        <div class="col-lg-6 col-lg-6 ms-footer-col ms-footer-text-right">
          <div class="ms-footbar-block">
            <div class="ms-footbar-title">
              <span class="ms-logo ms-logo-white ms-logo-sm mr-1" style="background-color: pink;">ICC</span>
              <h3 class="no-m ms-site-title">Immaculate Conception
                <span>Choir</span>
              </h3>
            </div>
            <address class="no-mb">
              <p>
                <i class="color-danger-light fa fa-pin mr-1"></i> Gayaza Road</p>
              <p>
                <i class="color-warning-light fa fa-map mr-1"></i> Kampala, Uganda</p>
              <p>
                <i class="color-info-light fa fa-envelope-open mr-1"></i>
                <a href="">info@immaculateconceptionchoir.com</a>
              </p>
              <p>
                <i class="color-royal-light fa fa-phone mr-1"></i>+256 7786438032  </p>
              <p>
                <i class="color-success-light fa fa-fax mr-1"></i>+256 757638032 </p>
            </address>
          </div>

          <div class="ms-footbar-block">
            <h3 class="ms-footbar-title">Social Media</h3>
            <div class="ms-footbar-social">
              <a href="" target="_blank" class="btn-circle btn-facebook">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="" target="_blank" class="btn-circle btn-twitter">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="" target="_blank" class="btn-circle btn-instagram">
                <i class="fa fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>

<br>
<hr>

  <footer class="ms-footer">
    <div class="container">
      <p>&copy; 2020 Immaculate Conception choir Co., | All Rights Reserved | <a href="#" class="color-light">Terms</a> | <a href="#" class="color-light">Privacy</a> | <a href="#" class="color-light">Trademarks</a></p>
    </div>
  </footer>
  <div class="btn-back-top">
    <a href="#" data-scroll id="back-top" class="btn-circle btn-circle-primary btn-circle-sm btn-circle-raised ">
      <i class="fa fa-long-arrow-up"></i>
    </a>
  </div>
</div>


</div>








                   
                  
                  