<style>
.card-img, .card-img-overlay {
  max-width: 80%;
  height: auto;
  
  }
  .card {
  /*background-image: url(assets/images/a.jpg);*/
  background-size: contain;
  width: 1000px;
  height: 300px;
  border: 2px solid;
  color: rgb(255, 212, 219);
  /*
  resize: both;
  overflow: hidden;*/
  
}

.img-responsive {

padding-top: 2px;
margin-bottom: 4px;
padding: 2em;
margin: auto;
}

.text-center {
  padding-top: 1em;
  padding-bottom: 1em;
 
}

.footer {
  /*position: fixed;*/
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#ececec;
  color: #3c3c3c;
  text-align: left;
  /*padding-bottom: 1em;
  padding-top: 1em;*/
  padding: 5%;
  margin: auto;
  text-emphasis-color: black;
}
.zmdi, .fa, .list-unstyled {
  color:black;


}
.card-title, .card-text {
font-size: 18px;
font-family: 'New Times Roman''Arial Narrow', Arial, sans-serif;
padding: .1em;

}
  

</style>



<nav class="navbar navbar-expand-lg" style="background-color: rgb(229, 226, 226)">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="container-fluid" id="navbarNav">
      <ul class="nav navbar-nav navbar-center" style="nav-down: auto;">
          
          <li class="nav-item active">
              <a class="nav-link" style="color: black;" href="#">About Us<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" style="color: black;" href="#">News</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" style="color: black;" href="#">Careers</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" style="color: black;" href="#">Songs</a>

          </li>
          <li class="nav-item">
              <a class="nav-link" style="color: black;" href="#">TV</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" style="color: black;" href="#">Music</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" style="color: black;" href="#">Support</a>
          </li>
         
      </ul>
  </div>
</nav>
<br>
<br>

<div class="container">

<div class="card bg-dark text-white padding-2em">
    
    <a href="https://www.buzentechnologies.com">
      <div>
        <img src="assets/images/f.jpg" alt="" width="999" height="350" padding="2rem" margin="auto">
      </div>
    </a>
  </div>
<br>
<br>
<br>
<br>

  <div class="row">
    <div class="col-sm-4 col-4" style="width: 6rem; height: 4%;">
        <div class="card-body">
          <h5 class="card-title" style="text-align: right;"><b>The Annual Events</b></h5>
          <p class="card-text">With the general events taking place in the choir.</p>
          <a href="#" class="btn btn-primary">View Annual Events Info</a>
        </div>
        <img src="assets/images/a.jpg" width="250" height="300">
        
      </div>
    
    <div class="col-sm-4 col-4" style="width: 6rem; height: 4%;">
      <!--remove the card class-->
        <div class="card-body">
          <h5 class="card-title" style="text-align: right;"><b>Networking Events</b></h5>
          <p class="card-text">Through networking we are able to be connected to other events available.</p>
          <a href="#" class="btn btn-primary">View Networking Events Info</a>
        </div>
        <img src="assets/images/f.jpg" width="250" height="300">
      </div>
    

   <div class="col-sm-4 col-4" style="width: 6rem; height: 4%;">
        <div class="card-body">
          <h5 class="card-title" style="text-align: right;"><b> Get Connected</b></h5>
          <p class="card-text">Subscribe to our Mailing List</p>
          <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
          <div>
            <input type="email" id="ms-subscribe"
              name="subscription_email" class="form-control" placeholder="Email address" required>
            </div>
            <br>
            <button class="ms-subscribre-btn btn btn-primary" style=" text-align: center;"> Subscribe <i class="color-danger-light fa fa-envelope-open"></i></button>
        </div>
        <img src="assets/images/e.jpg" width="400" height="300" text-align="center">
        
    </div>
  </div>


  

</div>


 

<br>
<br>


    <footer>

      <div class="footer">
        <!--<hr class="line" style="background-color:grey;">-->
        <div class="row">
      
           <!-- Grid column -->
           <div class="col-md-3 mx-auto">
      
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4"><b>ABOUT US</b></h5>
      
            <ul class="list-unstyled">
              <li>
              Gayaza Road
              </li>
              <li>
              Kyebando, Sub-parish
              </li>
              <li>
              choir.immaculateconception@gmail.com
              </li>
              <li>
              +256-704636785
              </li>
              <li>
              +256-781400190
              </li>
            </ul>
      
        </div>
      
        <hr>
      
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
      
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="text-align: center;"><b>Links</b></h5>
      
          <ul class="list-unstyled" style="text-indent: 30px;">
            <li>
              <a href="#!" style="color: black;"> <i class="fa fa-home" style="margin: 0 5px 0 0;"></i>Home</a>
            </li>
            <li>
              <a href="#!" style="color: black;"> <i class="fa fa-info-circle" style="margin: 0 5px 0 0;"></i>About</a>
            </li>
            <li>
              <a href="#!" style="color: black;"> <i class="fa fa-briefcase" style="margin: 0 5px 0 0;"></i>Services</a>
            </li>
            <li>
              <a href="#!" style="color: black;"> <i class="fa fa-code" style="margin: 0 5px 0 0;"></i>Projects</a>
            </li>
            <li>
              <a href="#!" style="color: black;"> <i class="fa fa-envelope-open" style="margin: 0 5px 0 0;"></i>Contacts</a>
            </li>
          </ul>
      
        </div>
      
      
      
        <hr class="clearfix w-100 d-md-none">
      
            <!-- Grid column -->
            <div class="col-md-3 mx-auto">
      
              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4"> <b>Contact Us</b></h5>
      
              <ul class="list-unstyled">
                <li>
              Subscribe to our newsletters
                </li>
                <li>
                  <form id="subscribeForm" method="post">
                    <div class="form-group label-floating mt-2 mb-1">
                      <div class="input-group ms-input-subscribe">
                      <div>
                        <input type="email" id="ms-subscribe"
                          name="subscription_email" class="form-control" placeholder="Email address" required>
                        </div>
                      </div>
                    </div>
                    <button class="ms-subscribre-btn" type="submit" style="margin: 8px;"> Subscribe <i class="color-danger-light fa fa-envelope-open"></i></button>
                  </form>
                </li>
              
              </ul>
      
            </div>
            <!-- Grid column -->
      
            <hr class="clearfix w-100 d-md-none">
      
            <!-- Grid column -->
            <div class="col-md-3 mx-auto">
      
              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Social Media</h5>
      
              <ul class="list-unstyled">
                <li>
                  <a href="#!" style="color: black;"><i class="fa fa-facebook" style="margin: 0 5px 0 0;"></i>Facebook</a>
                </li>
                <li>
                  <a href="#!" style="color: black;"><i class="fa fa-twitter" style="margin: 0 5px 0 0;"></i>Twitter</a>
                </li>
                <li>
                  <a href="#!" style="color: black;"><i class="fa fa-instagram" style="margin: 0 5px 0 0;" ></i>Instagram</a>
                </li>
              </ul>
      
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
      
      
      </div>
      <!--<hr class="line" style="background-color:grey;">-->
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3" style="background-color:#d6d6d6;">© 2020 Copyright:
        <a href="https://mdbootstrap.com/">choir.immaculateconception@gmail.com</a>
      </div>
      
      <!-- Copyright -->
      </footer>