<style>
.card-img, .card-img-overlay {
    max-width: 80%;
  height: auto;
  
  }
  .card {
  background-image: url(assets/images/e.jpg);
  background-size: contain;
  width: 1000px;
  height: 300px;
  border: 2px solid;
  color: pink;
  resize: both;
  overflow: hidden;
  
}
  

</style>

<div class="container">

<div class="card bg-dark text-white">
    
    <a href="https://www.buzentechnologies.com">
        <img src="assets/images/e.jpg" alt=".." width="1000" height="300">
    </a>
  </div>

</div>