<style>
.container{
      background: url('assets/images/music.jpg') repeat scroll 0% 0% transparent;
      background: rgb(211, 196, 245);
      /*opacity: 0.4; */
      padding: 30px;
  }
  .column {
      background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 50, 111, 0.8), rgba(255, 255, 255, 0));
  }

  /*.ms-footbar {
  display: block;
 align-self: start;;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   text-align: center;
   padding: auto;
 
}*/
p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}
.btn, .container, .text-center {
  padding: auto;
  margin: auto;

}
.nav-link, .nav-link, .nav{
  font-family: 'Times New Roman', Times, serif;
  text-emphasis-color: black;

}
 .text-center, .row {
  padding-top: 1em;
  padding-bottom: 1em;
 
}

.footer {
  /*position: fixed;*/
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ececec;
  color: #3c3c3c;
  text-align: left  ;   
  padding-left: 10%;
  margin: auto;
  text-emphasis-color: black;
}
.zmdi, .fa, .list-unstyled {
  color:black;
}


</style>




<nav class="navbar navbar-expand-lg" style="background-color: rgb(229, 226, 226)">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="container-fluid" id="navbarNav">
      <ul class="nav navbar-nav navbar-center" style="nav-down: auto;">
          
          <li class="nav-item active">
              <a class="nav-link" style="color: black;" href="#">About Us<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" style="color: black;" href="#">News</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" style="color: black;" href="#">Careers</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" style="color: black;" href="#">Songs</a>

          </li>
          <li class="nav-item">
              <a class="nav-link" style="color: black;" href="#">TV</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" style="color: black;" href="#">Music</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" style="color: black;" href="#">Support</a>
          </li>
         
      </ul>
  </div>
</nav>
<br>
<br>

  <div class="container">
    <div class="text-center">
      <h1 class="color-light mb-4 animated fadeInDown animation-delay-4 text-white"><strong> About Us </strong></h1>
      <p class="lead lead-xl mw-800 center-block color-light mb-2 animated fadeInDown animation-delay-4"> We are the
        <span class="colorStar">Immaculate conception mighty choir</span>.
        <br> Discover with us the possibilities of
        <span class="colorStar animation-delay-10">your mighty voices</span>. </p>
      <div class="row mb-4 mt-4">
        <div class="col-md-3 col-xs-6 animated zoomInUp animation-delay-5">
          <i class="fa fa-headphones color-light fa-2x"></i>
          <h4 class="color-white text-uppercase"><b>Choir voices</b></h4>
        </div>
        <div class="col-md-3 col-xs-6 animated zoomInUp animation-delay-5">
          <i class="fa fa-music color-light fa-2x"></i>
          <h4 class="color-white text-uppercase"><b>music dance and drammer</b></h4>
        </div>
        <div class="col-md-3 col-xs-6 animated zoomInUp animation-delay-5">
          <i class="fa fa-meetup color-light fa-2x"></i>
          <h4 class="color-white text-uppercase"><b>choir practices</b></h4>
        </div>
        <div class="col-md-3 col-xs-6 animated zoomInUp animation-delay-5">
          <i class="fa fa-spotify color-light fa-2x"></i>
          <h4 class="color-white text-uppercase"><b>Songs</b></h4>
        </div>
      </div>
      
      <a href="#" class="btn btn-raised btn-success animated fadeInUp animation-delay-10" style="margin: 8px;">
        <i></i><b> Projects</b></a>
      
      <a href="#" class="btn btn-raised btn-info animated fadeInUp animation-delay-10">
        <i></i><b> Contact us</b></a> 
    </div>
  </div>
<br>
<br>


<div class="container wow fadeInUp">
  <div class="row">
    <div class="col-md-6 text-center">
      <h2 class="color-primary right-line" style="color: rgb(0, 0, 255)" text-center><b>Who Are We</b></h2>
      <p class="dropcaps" style="color: rgb(15, 124, 5);">
        Immaculate Conception Choir, is a choir with blessed voices all over the world.
      </p>
      <p style="color: rgb(15, 124, 5);">
        Please reach out to us
      </p>
      <p style="color: rgb(15, 124, 5);">
        We offer singing and dancing  services right away. 
      </p>

      <div class="row-md-6 row-sm-6">
        <div class="panel-group ms-collapse" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a class="withripple" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  <i class="fa fa-lightbulb-o"></i><b> Our Mission</b> </a>
              </h4>
              <div class="panel-body">
                <p style="color: rgb(15, 124, 5);">
                  To be a world-class provider of quality church related services, products and solutions in all fields of
                  life.
                </p>
              </div>
            </div>
 
          </div>
          <br>
          <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed withripple" role="button" data-toggle="collapse" data-parent="#accordion"
                  href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <i class="fa fa-desktop"></i> <b> Our Vision </b> </a>
              </h4>
              <div class="panel-body">
                <p style="color: rgb(15, 124, 5);">
                  To be recognised as a world-class provider of quality church related services, products and solutions in all
                  fields of life dope.
                </p>
              </div>
            </div>
          </div>


      <p class="text-center">
        <cite class="lead color primary-color"><strong> <b> — Immaculate Conception Choir. </b> </strong></cite>
      </p>
    </div>
    
          
         

        <!-- <div class="panel panel-primary">
                <div class="panel-heading" role="tab" id="headingThree">

                </div>
              </div> -->
      </div>
    </div>
  </div>
</div>


<div class="container">
  <h1 class="color-primary text-center"><b> Executive Team </b></h1>

  <div class="row">
  
  <div class="col-md-6 col-sm-6">
    <div class="card mt-4 card-danger wow zoomInUp animation-delay-7">
      <div class="ms-hero-bg-danger ms-hero-img-city">
        <img src="assets/images/a.jpg" class="img-avatar-circle" width="433" height="500"> </div>
      <div class="card-block pt-6 text-center">
        <h3 class="color-danger">choir</h3>
        <p><a href="" class="btn btn-raised btn-sm btn-danger">Executive Officer</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6">
    <div class="card mt-4 card-primary wow zoomInUp animation-delay-7">
      <div class="ms-hero-bg-primary ms-hero-img-city">
        <img src="assets/images/d.jpg" class="img-avatar-circle" width="433" height="500"> </div>
      <div class="card-block pt-6 text-center">
        <h3 class="color-primary">choir</h3>
        <p><a href="" class="btn btn-raised btn-sm btn-primary">Finance Officer</a></p>
      </div>
    </div>
  </div>

</div>


<div class="row">
  <div class="col-md-6 col-sm-6">
    <div class="card mt-4 card-success wow zoomInUp animation-delay-7">
      <div class="ms-hero-bg-success ms-hero-img-city" >
        <img src="assets/images/c.jpg" alt="..." class="img-avatar-circle" width="433" height="500"> </div>
      <div class="card-block pt-6 text-center">
        <h3 class="color-success">choir</h3>
        <p><a href="" class="btn btn-raised btn-sm btn-success">Admin Person</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6">
    <div class="card mt-4 card-warning wow zoomInUp animation-delay-7">
      <div class="ms-hero-bg-warning ms-hero-img-city">
        <img src="assets/images/d.jpg" alt="..." class="img-avatar-circle" width="433" height="500"> </div>
      <div class="card-block pt-6 text-center">
        <h3 class="color-warning">choir</h3>
        <p><a href="" class="btn btn-raised btn-sm btn-info">Consultant Person</a></p>
      </div>
    </div>
  </div>

</div>


<div class="row">
  <div class="col-md-6 col-sm-6">
    <div class="card mt-4 card-success wow zoomInUp animation-delay-7">
      <div class="ms-hero-bg-success ms-hero-img-city">
        <img src="assets/images/d.jpg" alt="..." class="img-avatar-circle" width="433" height="500"> </div>
      <div class="card-block pt-6 text-center">
        <h3 class="color-success">choir</h3>
        <p><a href="" class="btn btn-raised btn-sm btn-success">Senior Director</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6">
    <div class="card mt-4 card-warning wow zoomInUp animation-delay-7">
      <div class="ms-hero-bg-warning ms-hero-img-city">
        <img src="assets/images/f.jpg" alt="..." class="img-avatar-circle" width="433" height="500"> </div>
      <div class="card-block pt-6 text-center">
        <h3 class="color-warning">choir</h3>
        <p><a href="" class="btn btn-raised btn-sm btn-info">Marketing Manager</a></p>
      </div>
    </div>
  </div>
</div>



</div>

<br>

<footer>

<div class="footer">
  <!-- <hr class="line" style="background-color:grey;"> -->
  <div class="row">

     <!-- Grid column -->
     <div class="col-md-3 mx-auto">

      <!-- Links -->
      <h5 class="font-weight-bold text-uppercase mt-3 mb-4"><b>ABOUT US</b></h5>

      <ul class="list-unstyled">
        <li>
        Gayaza Road
        </li>
        <li>
        Kyebando, Sub-parish
        </li>
        <li>
        choir.immaculateconception@gmail.com
        </li>
        <li>
        +256-704636785
        </li>
        <li>
        +256-781400190
        </li>
      </ul>

  </div>

  <hr>

  <!-- Grid column -->
  <div class="col-md-3 mx-auto">

    <!-- Links -->
    <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="text-align: center;"><b>Links</b></h5>

    <ul class="list-unstyled" style="text-indent: 30px;">
      <li>
        <a href="#!" style="color: black;"> <i class="fa fa-home" style="margin: 0 5px 0 0;"></i>Home</a>
      </li>
      <li>
        <a href="#!" style="color: black;"> <i class="fa fa-info-circle" style="margin: 0 5px 0 0;"></i>About</a>
      </li>
      <li>
        <a href="#!" style="color: black;"> <i class="fa fa-briefcase" style="margin: 0 5px 0 0;"></i>Services</a>
      </li>
      <li>
        <a href="#!" style="color: black;"> <i class="fa fa-code" style="margin: 0 5px 0 0;"></i>Projects</a>
      </li>
      <li>
        <a href="#!" style="color: black;"> <i class="fa fa-envelope-open" style="margin: 0 5px 0 0;"></i>Contacts</a>
      </li>
    </ul>

  </div>



  <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4"> <b>Contact Us</b></h5>

        <ul class="list-unstyled">
          <li>
        Subscribe to our newsletters
          </li>
          <li>
            <form id="subscribeForm" method="post">
              <div class="form-group label-floating mt-2 mb-1">
                <div class="input-group ms-input-subscribe">
                  <div>
                    <input type="email" id="ms-subscribe"
                    name="subscription_email" class="form-control" placeholder="Email address" required>
                  </div>
                </div>
              </div>
              <button class="ms-subscribre-btn" type="submit" style="margin: 8px;"> Subscribe <i class="color-danger-light fa fa-envelope-open"></i></button>
            </form>
          </li>
        
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Social Media</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" style="color: black;"><i class="fa fa-facebook" style="margin: 0 5px 0 0;"></i>Facebook</a>
          </li>
          <li>
            <a href="#!" style="color: black;"><i class="fa fa-twitter" style="margin: 0 5px 0 0;"></i>Twitter</a>
          </li>
          <li>
            <a href="#!" style="color: black;"><i class="fa fa-instagram" style="margin: 0 5px 0 0;" ></i>Instagram</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->


</div>
<!-- <hr class="line" style="background-color:grey;"> -->
<!-- Copyright -->
<div class="footer-copyright text-center py-3" style="background-color:#d6d6d6;">© 2020 Copyright:
  <a href="https://mdbootstrap.com/">choir.immaculateconception@gmail.com</a>
</div>
<!-- Copyright -->
</footer>










        


    
         