<style>
.container{
      background: url('assets/images/music.jpg') repeat scroll 0% 0% transparent;
      background: rgb(211, 196, 245);
      /*opacity: 0.4; */
  }
  .column {
      background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 50, 111, 0.8), rgba(255, 255, 255, 0));
  }



</style>




<nav class="navbar navbar-expand-lg" style="background-color: black">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="container-fluid" id="navbarNav">
      <ul class="nav navbar-nav navbar-center">
          <p>
              <i class="fa fa-home mr-3" style='font-size:24px' style="color: white"></i></p>
          <li class="nav-item active">
              <a class="nav-link" href="#">About Us<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">News</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Careers</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Songs</a>
              
              <div class="subnav-content">
                <a href="#link1">Link 1</a>
                <a href="#link2">Link 2</a>
              </div>

          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">TV</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Music</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Support</a>
          </li>
          <p>
              <i class="fa fa-search mr-3" style='font-size:24px' style="color: white"></i>
          </p>
          <p>
              <i class="fa fa-shopping-bag mr-3" style='font-size:24px' style="color: white"></i>
          </p>
      </ul>
  </div>
</nav>






<div class="container-fluid">
<nav class="navbar navbar-offcanvas navbar-static" role="navigation">
  <div class="navbar-collapse navbar-offcanvas-collapse"><ul id="menu-main-menu" class="nav navbar-nav main-mobile-menu"><li id="menu-item-18" class="has-submenu menu-item-18"><a href="https://peoplepower.org.ug/about/">About US</a> <span class="icon-toggle"><i class="ti-plus"></i></span>
  <ul class="sub-menu">
  <li class="menu-item-5822"><a href="#">Our Profile</a></li>
  <li class="menu-item-5546"><a href="#">Background</a></li>
  <li class="has-submenu menu-item-5536"><a href="#">Policy</a> <span class="icon-toggle"><i class="ti-plus"></i></span>
  <ul class="sub-menu">
  <li class="menu-item-5534"><a href="#">Foreign Policy</a></li>
  <li class="menu-item-5535"><a href="#">Local Policy</a></li>
  </ul>
  </li>
  <li class="menu-item-6922"><a href="#">FAQs</a></li>
  </ul>
  </li>
  <li id="menu-item-5619" class="menu-item-5619"><a href="#">Team</a></li>
  <li id="menu-item-5984" class="menu-item-5984"><a href="#">Join Us</a></li>
  <li id="menu-item-5987" class="menu-item-5987"><a href="#">Contact Us</a></li>
  <li id="menu-item-15" class="menu-item-15"><a href="#">Donate</a></li>
  <li id="menu-item-5480" class="menu-item-5480"><a href="#">Forum</a></li>
  </ul></div>        </nav>
  </div>





<header class="ms-hero-page ms-hero-img-team ms-hero-bg-primary mb-4">
  <div class="container">
    <div class="text-center">
      <h1 class="color-light mb-4 animated fadeInDown animation-delay-4">About Us</h1>
      <p class="lead lead-xl mw-800 center-block color-light mb-2 animated fadeInDown animation-delay-4"> We are the
        <span class="colorStar">Immaculate conception mighty choir</span>.
        <br> Discover with us the possibilities of
        <span class="colorStar animation-delay-10">your mighty voices</span>. </p>
      <div class="row mb-4 mt-4">
        <div class="col-md-3 col-xs-6 animated zoomInUp animation-delay-5">
          <i class="zmdi zmdi-android color-light zmdi-hc-4x"></i>
          <h4 class="color-white text-uppercase">Choir voices</h4>
        </div>
        <div class="col-md-3 col-xs-6 animated zoomInUp animation-delay-6">
          <i class="fa fa-music color-light fa-hc-4x"></i>
          <h4 class="color-white text-uppercase">music dance and drammer</h4>
        </div>
        <div class="col-md-3 col-xs-6 animated zoomInUp animation-delay-7">
          <i class="fa fa-windows color-light"></i>
          <h4 class="color-white text-uppercase">choir practices</h4>
        </div>
        <div class="col-md-3 col-xs-6 animated zoomInUp animation-delay-8">
          <h4 class="color-white text-uppercase">Songs</h4>
        </div>
      </div>
      
      <a href="#" class="btn btn-raised btn-warning animated fadeInUp animation-delay-10">
        <i></i> Projects</a>
      
      <a href="#" class="btn btn-raised btn-info animated fadeInUp animation-delay-10">
        <i></i> Contact us</a> 
    </div>
  </div>
</header>




<div class="container wow fadeInUp">
  <div class="row">
    <div class="col-md-6 text-justify">
      <h2 class="color-primary right-line">Who Are We</h2>
      <p class="dropcaps">
        Immaculate Conception Choir, is a choir with blessed voices all over the world.
      </p>
      <p>
        Please reach out to us
      </p>
      <p>
        We offer singing and dancing  services right away. 
      </p>
      <p class="text-right">
        <cite class="lead color primary-color"><strong> — Immaculate Conception Choir. </strong></cite>
      </p>
    </div>
    <div class="col-md-6">
      <h2 class="color-primary right-line">Our Approach</h2>
      <div class="panel-group ms-collapse" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-primary">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a class="withripple" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                <i class="fa fa-lightbulb-o"></i> Our Mission </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <p>
                To be a world-class provider of quality church related services, products and solutions in all fields of
                life.
              </p>
            </div>
          </div>
        </div>
        <br>
        <div class="panel panel-primary">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed withripple" role="button" data-toggle="collapse" data-parent="#accordion"
                href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <i class="fa fa-desktop"></i> Our Vision </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <p>
                To be recognised as a world-class provider of quality church related services, products and solutions in all
                fields of life.
              </p>
            </div>
          </div>
        </div>

        <!-- <div class="panel panel-primary">
                <div class="panel-heading" role="tab" id="headingThree">

                </div>
              </div> -->
      </div>
    </div>
  </div>
</div>


<div class="container">
  <h1 class="color-primary text-center" text-center>Executive Team</h1>

  <div class="row">
  
  <div class="col-md-6 col-sm-6">
    <div class="card mt-4 card-danger wow zoomInUp animation-delay-7">
      <div class="ms-hero-bg-danger ms-hero-img-city">
        <img src="" alt="..." class="img-avatar-circle"> </div>
      <div class="card-block pt-6 text-center">
        <h3 class="color-danger">choir</h3>
        <p><a href="" class="btn btn-raised btn-sm btn-danger">Executive Officer</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6">
    <div class="card mt-4 card-primary wow zoomInUp animation-delay-7">
      <div class="ms-hero-bg-primary ms-hero-img-city">
        <img src="" alt="..." class="img-avatar-circle"> </div>
      <div class="card-block pt-6 text-center">
        <h3 class="color-primary">choir</h3>
        <p><a href="" class="btn btn-raised btn-sm btn-primary">Finance Officer</a></p>
      </div>
    </div>
  </div>

</div>


<div class="row">
  <div class="col-md-6 col-sm-6">
    <div class="card mt-4 card-success wow zoomInUp animation-delay-7">
      <div class="ms-hero-bg-success ms-hero-img-city">
        <img src="" alt="..." class="img-avatar-circle"> </div>
      <div class="card-block pt-6 text-center">
        <h3 class="color-success">choir</h3>
        <p><a href="" class="btn btn-raised btn-sm btn-success">admin person</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6">
    <div class="card mt-4 card-warning wow zoomInUp animation-delay-7">
      <div class="ms-hero-bg-warning ms-hero-img-city">
        <img src="" alt="..." class="img-avatar-circle"> </div>
      <div class="card-block pt-6 text-center">
        <h3 class="color-warning">choir</h3>
        <p><a href="" class="btn btn-raised btn-sm btn-warning">Consultant person</a></p>
      </div>
    </div>
  </div>

</div>


<div class="row">
  <div class="col-md-6 col-sm-6">
    <div class="card mt-4 card-success wow zoomInUp animation-delay-7">
      <div class="ms-hero-bg-success ms-hero-img-city">
        <img src="" alt="..." class="img-avatar-circle"> </div>
      <div class="card-block pt-6 text-center">
        <h3 class="color-success">choir</h3>
        <p><a href="" class="btn btn-raised btn-sm btn-success">senior Director</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6">
    <div class="card mt-4 card-warning wow zoomInUp animation-delay-7">
      <div class="ms-hero-bg-warning ms-hero-img-city">
        <img src="" alt="..." class="img-avatar-circle"> </div>
      <div class="card-block pt-6 text-center">
        <h3 class="color-warning">choir</h3>
        <p><a href="" class="btn btn-raised btn-sm btn-warning">Marketing Manager</a></p>
      </div>
    </div>
  </div>
</div>

</div>






        


    
         