
/*.nav-item {
    padding: .5rem;

  }

  .nav-link, .navbar-brand {
    color: black !important;
    height: 2.9rem;
    padding: .5rem 0;
    
  }
  .navbar-brand {
    padding: .2rem;
    margin: .9rem;
    width: 3rem;  
  }
  .nav-link.active,
  .nav-link:hover {
    color: #5b5555 !important;
  }
*/