<style>
	.nav-item {
		padding: .5rem;

	}

	.nav-link,
	.navbar-brand {
		color: black !important;
		height: 2.9rem;
		padding: .5rem 0;


	}

	.navbar-brand {
		padding: .2rem;
		margin: .9rem;
		width: 3rem;
	}

	.nav-link.active,
	.nav-link:hover {
		color: #5b5555 !important;
	}

	.footer {
		/*position: fixed;*/
		left: 0;
		bottom: 0;
		width: 100%;
		background-color: #ececec;
		color: #3c3c3c;
		text-align: left;
		padding-left: 10%;
		margin: auto;
		text-emphasis-color: black;
	}

	.zmdi,
	.fa,
	.list-unstyled {
		color: black;
	}
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<img src="assets/images/logo.png" alt="" width="200" height="120" padding="2rem" margin="auto">
	<!--<a class="navbar-brand" routerLink="home">IMMACULATE CONCEPTION CHOIR</a>-->
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
		aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
		<ul class="navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" routerLink="home"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;&nbsp;Home
					<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="about"><i class="fa fa-info-circle"></i>&nbsp;&nbsp;About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="service"><i class="fa fa-briefcase"></i>&nbsp;&nbsp;Services</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="projects"><i class="fa fa-code"></i>&nbsp;&nbsp;Projects</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="contact"><i class="fa fa-envelope-open"
						aria-hidden="true"></i>&nbsp;&nbsp;Contact Us</a>
			</li>
		</ul>
	</div>
</nav>


<!--command to displays links-->
<router-outlet></router-outlet>



<footer>

	<div class="footer">
		<!-- <hr class="line" style="background-color:grey;"> -->
		<div class="row">

			<!-- Grid column -->
			<div class="col-md-3 mx-auto">

				<!-- Links -->
				<h5 class="font-weight-bold text-uppercase mt-3 mb-4"><b>ABOUT US</b></h5>

				<ul class="list-unstyled">
					<li>
						<p> Gayaza Road </p>
					</li>
					<li>
						<p> Kyebando, Sub-parish </p>
					</li>
					<li>
						<p> choir.immaculateconception@gmail.com </p>
					</li>
					<li>
						<p> +256-704636785 </p>
					</li>
					<li>
						<p> +256-781400190 </p>
					</li>
				</ul>

			</div>

			<hr>

			<!-- Grid column -->
			<div class="col-md-3 mx-auto">

				<!-- Links -->
				<h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="text-align:center;"><b>link</b></h5>

				<ul class="list-unstyled" style="text-indent: 53px;">
					<li>
						<a href="#!" style="color: black;">
							<p> <i class="fa fa-home" style="margin: 0 5px 0 0;"></i> Home</p>
						</a>
					</li>
					<li>
						<a href="#!" style="color: black;">
							<p> <i class="fa fa-info-circle" style="margin: 0 5px 0 0;"></i>About</p>
						</a>
					</li>
					<li>
						<a href="#!" style="color: black;">
							<p> <i class="fa fa-briefcase" style="margin: 0 5px 0 0;"></i>Services</p>
						</a>
					</li>
					<li>
						<a href="#!" style="color: black;">
							<p><i class="fa fa-code" style="margin: 0 5px 0 0;"></i>Projects</p>
						</a>
					</li>
					<li>
						<a href="#!" style="color: black;">
							<p> <i class="fa fa-envelope-open" style="margin: 0 5px 0 0;"></i>Contacts</p>
						</a>
					</li>
				</ul>

			</div>



			<hr class="clearfix w-100 d-md-none">

			<!-- Grid column -->
			<div class="col-md-3 mx-auto">

				<!-- Links -->
				<h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="text-indent:40px;"> <b>Contact Us</b></h5>

				<ul class="list-unstyled" style="text-indent: 40px;">
					<li>
						<p>
							Subscribe to our newsletters
						</p>
					</li>
					<li>
						<form id="subscribeForm" method="post">
							<div class="form-group label-floating mt-2 mb-1">
								<div class="input-group ms-input-subscribe">
									<div>
										<input type="email" id="ms-subscribe" style="text-indent:28px"
											name="subscription_email" class="form-control" placeholder="Email address"
											required>
									</div>
								</div>
							</div>
							<button class="ms-subscribre-btn" type="submit" style=" margin: 25px; text-indent:20px">
								<p> Subscribe <i class="color-danger-light fa fa-envelope-open"></i> </p>
							</button>
						</form>
					</li>

				</ul>

			</div>
			<!-- Grid column -->

			<hr class="clearfix w-100 d-md-none">

			<!-- Grid column -->
			<div class="col-md-3 mx-auto">

				<!-- Links -->
				<h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="text-align:center">Social Media</h5>

				<ul class="list-unstyled" style="text-indent: 41px;">
					<li>
						<a href="#!" style="color: black;">
							<p> <i class="fa fa-facebook" style="margin: 0 5px 0 0;"></i>Facebook</p>
						</a>
					</li>
					<li>
						<a href="#!" style="color: black;">
							<p> <i class="fa fa-twitter" style="margin: 0 5px 0 0;"></i>Twitter</p>
						</a>
					</li>
					<li>
						<a href="#!" style="color: black;">
							<p> <i class="fa fa-instagram" style="margin: 0 5px 0 0;"></i>Instagram</p>
						</a>
					</li>
				</ul>

			</div>
			<!-- Grid column -->

		</div>
		<!-- Grid row -->


	</div>
	<!-- <hr class="line" style="background-color:grey;"> -->
	<!-- Copyright -->
	<div class="footer-copyright text-center py-3" style="background-color:#d6d6d6;">© 2020 Copyright:
		<a href="https://mdbootstrap.com/">choir.immaculateconception@gmail.com</a>
	</div>
	<!-- Copyright -->
</footer>